<!DOCTYPE html>
<html lang="en">
<head>
  <title>Virtual Terminal</title>
  <style>
    .terminal {
      font-family: monospace;
      position: absolute;
      padding: 10px;
    }
    #status {
      font-family: monospace;
    }
    #id {
      margin: 0;
    }
  </style>
</head>
<body>
<p id="top">
<a href="/edu/">&raquo; rachelbythebay/edu &raquo;</a>
</p>
<h1 id="title">Virtual Terminal</h1>

<button id="restart">restart</button>
<button id="back">jump back (-10)</button>
<button id="stepback">step back (-1)</button>
<button id="pause">pause</button>
<button id="play">play</button>
<button id="stepforward">step forward (+1)</button>
<button id="forward">jump forward (+10)</button>
<br>
<span>Speed:
<button id="speed_10" data-speed="0.1" class="speed">10%</button>
<button id="speed_50" data-speed="0.5" class="speed">50%</button>
<button id="speed_100" data-speed="1.0" class="speed">100%</button>
<button id="speed_150" data-speed="1.5" class="speed">150%</button>
<button id="speed_200" data-speed="2.0" class="speed">200%</button>
<button id="speed_500" data-speed="5.0" class="speed">500%</button>
<button id="speed_1000" data-speed="10.0" class="speed">1000%</button>
</span>

<div>
<span id="status"></span>
[<span id="pos"></span>]
<span id="time"></span>
</div>

<br>

<noscript>
Sorry, this whole playback thing is 100% JavaScript.
</noscript>

<script src="jquery.js"></script>
<script src="term.js"></script>
<script src="view.js"></script>

</body>
</html>
